*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	margin-bottom: 2rem;
	font-family: "Roboto", sans-serif;
	font-size: 1.34rem;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 3rem;
	margin-top: 0;
}
.logo {
	/* margin-right: 2.25em; */
	/* border: 1px solid red; */
	/* margin: 0 auto; */
}

.section-title {
	color: #87629a;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #23424a;
	font-weight: 900;
	height: auto;
	padding: 0.75em 2em;
	background-color: #38cfd9;
	border-radius: 100px;
}
.btn:hover,
.btn:focus {
	opacity: 0.75;
	outline: 0;
}

.container {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	/* border: 2px solid grey; */
}

.col {
	/* these are now flex items */
	width: 100%;
}

.col + .col {
	margin-left: 30px;
}

header {
	background: #136c72;
	padding: 0.5em 0;
	height: auto;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	/* border: 1px solid; */
}
.nav {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;

	/* border: 2px solid white; */
}
.hac {
	margin: 0 auto;
}
/* .push-right {
  margin-left: auto;
} */
.nav__item + .nav__item {
	margin-left: 1em;
}

.nav__link {
	color: #dbe9ea;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
}

.nav__link--button {
	background: #fff;
	color: #136c72;
	padding: 0.5em 1em;
	border-radius: 10em;
}

.nav__link:hover,
.nav__link:focus {
	opacity: 0.75;
	outline: 0
}



.hero {
	padding: 100px 0;
	background-color: #23424a;
	color: #fff;
}

.hero__text {
	width: 62%;
}

.hero__img {
	width: 32%;
	align-self: flex-start;
}

.hero p {
	margin-bottom: 2em;
}

.main {
	margin-top: 3em;
}

.primary-content {
	width: 62%;
}

.sidebar {
	width: 32%;
	padding: 1em;
	text-align: center;
	color: #fff;
	background-color: #136c72;
}

@media (max-width: 700px) {
	body {
		font-size: 1.25rem;
	}
	.row {
		display: block;
	}
	.hac {
		display: none;
		margin: 0;
		padding: 0;
	}
	.after-mq {
		display: flex;
		justify-content: space-between;
	}
	h1 {
	}
	.header {
		overflow: hidden;
	}
	.push-right {
		margin-left: auto;
	}
	.push-right .nav__link {
		font-size: 0.85rem;
	}
	.push-right .nav__link + .nav__link {
		margin-left: 0.5em;
	}
	.hero__text,
	.primary-content {
		width: 100%;
		margin: 0 auto;
	}
	.hero__text {
		margin-top: -2.5em;
	}
	.btn {
		margin-top: -5em;
		margin-bottom: 1em;
		font-size: 1rem;
		padding: 1em 2em;
	}
	.hero__text h1 {
		font-size: 2.5rem;
		font-style: italic;
		line-height: 1;
	}

	.sidebar {
		width: 85%;
		margin: 2rem auto;
	}
	.hero__img {
		width: 100%;
		margin: 0 auto;
		margin-top: 1rem;
	}
	.hero {
		padding: 80px 0;
	}
	.nav .push-right {
		color: #dbe9ea;
	}
	.push-right .nav__link {
		font-weight: 500;
		font-size: 1rem;
	}
	.para-for-hide {
		display: none;
	}
}
